*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
  --background-color: #1B211A;
  --text-color: #EBD5AB;
  --primary-color: #8BAE66;
  --secondary-color: #628141;
}

body {
  margin: 0;
  font-family: 'NTR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}