@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
  --background-color: #f8f9fa;
  --text-color: #2d3436;
  --primary-color: #0984e3;
  --secondary-color: #636e72;
}

body {
  margin: 0;
  font-family: 'NTR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
